body{
    font-family: Arail, sans-serif;
}
/* Formatting search box */
.search-box{
    width: 98%;
    position: relative;
    display: inline-block;
    font-size: 14px;
    background-color: #d8e6ea;
    border-radius: 10px;
}
.result{
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
}

/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}
td{
    font-weight: bold
}